#overlay {
    background-color:#1918185e;
    width: 100%;
    height: 800px;
    padding-bottom: 350px;
    z-index:2;
}

#game-content {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-size: contain;
    text-align: center;
    z-index:1;
}

#title {
    margin-top:0px;
    color:white;
    font-family: 'Libre Baskerville', serif;
    padding-top: 26px;
    text-shadow:-4px 2px #00000E;
    font-weight: bold;
}

h2, h3, h4, p {
    color:white;
    font-family: 'Libre Baskerville', serif;
}

p {
    font-size:16px;
}

ul {
    color:white;
    list-style-type: none;
    font-family: 'Libre Baskerville', serif;
    width:50%;
    margin: 0 auto;
    padding-left: 0;
}

#answer-layout > img {
    height:250px;
    width:345px;
}

ul > li:hover {
    color:gold;
    cursor: pointer;
}

#timer {
    color:white;
}

.my-buttons {
    background-color: white;
    border: 3px solid black;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    margin-top: 158px;
    visibility:visible;
}

#question{
    margin-top: 30px;
}

#correct-answers {
    margin-top: 50px;
}

#end-desc{
    margin-top: 69px;
}

#restart {
    visibility:hidden;
}